NODE_ENV=

HOST=
PORT=

JWT_ACCESS_SECRET=
JWT_ACCESS_LIFETIME=900 #15 min

JWT_REFRESH_SECRET=
JWT_REFRESH_LIFETIME=604800 #1 week

CORS_ORIGINS=["*"]
CORS_METHODS=["GET", "POST", "PUT", "DELETE", "OPTIONS"]